/* Global */
body {
    font-family: 'Encode Sans Condensed', sans-serif!important;
    letter-spacing: 1px;
}

a {
    color: black!important;
}

p {
    color: #585858!important;
}

/* Start */
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-duration:1.5s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay:1.4s;
  animation-delay: 1.4s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.fade-in.four {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
  }

img#brand {
    max-width: 30px;
    margin-right: 10px;
}

li.nav-item.icon {
    margin-right: 10px;
}

#presentation-img {
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#front-list {
    display: flex;
    list-style: none;
}

#front-list li {
    margin-right: 10px;
}

/* Single */
.jumbotron {
    text-align: center;
    padding: 10vh;
    background-color: #f8f9fa;
}

/* Footer */
#footer {
    margin-top: 10vh;
    position: relative;
    bottom: 0;
    text-align: center;
    display: block;
}