/* Global */
body {
    font-family: 'Encode Sans Condensed', sans-serif!important;
    letter-spacing: 1px;
}

a {
    color: black!important;
}

p {
    color: #585858!important;
}

/* Start */
img#brand {
    max-width: 30px;
    margin-right: 10px;
}

li.nav-item.icon {
    margin-right: 10px;
}

#presentation-img {
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#front-list {
    display: flex;
    list-style: none;
}

#front-list li {
    margin-right: 10px;
}

/* Single */
#single-title {
    text-align: center;
    padding: 10vh;
    background-color: #f8f9fa;
}

/* Footer */
#footer {
    margin-top: 10vh;
    position: relative;
    bottom: 0;
    text-align: center;
    display: block;
}