{{ partial "head.html" . }}

{{ partial "nav.html" . }}

<section class="container">
  </br>
  <section class="content">
    <div class="jumbotron">
      <h1 class="display-4">{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>
      {{if gt (len .Description) 40}}
      <p class="lead">{{ .Description }}</p>
      {{ end }}
      <hr class="my-4">
      <p>Uppdaterat: {{ .Date.Day }}
        {{ index $.Site.Data.månader (printf "%d" .Date.Month) }} {{ .Date.Year }}</p>
      {{ if .Params.Author }}
      <p>Av: {{ .Params.Author }}</p>
      {{ end }}
      {{ $readTime := cond (gt .ReadingTime 1) "minuter" "minut" }}
      <p>Lästid: {{ .ReadingTime }} {{ $readTime }}</p>
    </div>
    <div class="entry-content">
      {{ .Content }}
    </div>
  </section>
  </br>
</section>

{{ partial "footer.html" . }}