{{ partial "head.html" . }}

{{ partial "nav.html" . }}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-12 col-md-6 mx-auto">
            <div class="jumbotron" style="background-color: inherit;">
                <img id="presentation-img" class="fade-in one" src="{{ .Site.Params.Picture }}">
                <hr class="fade-in one">
                <h1 id="title" style="text-align:center;" class="fade-in two">{{ .Site.Params.Name }}</h1>
                <p id="description" style="text-align:center;" class="fade-in three">{{ .Site.Params.Tagline }}</p>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}