{{ partial "head.html" . }}

{{ partial "nav.html" . }}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron" style="background-color: inherit;">
                <img id="presentation-img" class="fade-in one" src="{{ .Site.Params.Picture }}">
                <hr class="fade-in one">
                <h1 id="title" style="text-align:center;" class="fade-in two">{{ .Site.Params.Name }}</h1>
                <p id="description" style="text-align:center;" class="fade-in three">{{ .Site.Params.Tagline }}</p>
            </div>
        </div>
    </div>
</div>

<!-- <div id="start-content" class="container">
    <div class="h-100 row align-items-center">
        <div class="col" style="background-color: aliceblue">
            <div class="row">
                <div class="col-3">
                    <img id="presentation-img"
                        src="https://res.cloudinary.com/dfvkxoqhn/image/upload/f_auto,q_auto/v1563718128/Roundportrait_rzhfuk.png">
                </div>
                <div class="col">
                    <h1 id="title">{{ .Site.Params.name }}</h1>
                    <p>{{ .Site.Params.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

{{ partial "footer.html" . }}